img {
    height: auto;
    width: 300px;
}

.beach-img {
    height: auto;
    width: 700px;
}

body {
    background-color: #111111;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    margin: 50px;
}

h1, h2 {
    color: #6A5ACD;
}

#ball
{
z-index: 5;
position: absolute;
left: 200px;
top: 200px;
width: 100px;
height: 100px;
border-radius: 50%;
background: #6A5ACD;
}

#ball2
{
z-index: 5;
position: absolute;
left: 200px;
top: 300px;
width: 100px;
height: 100px;
border-radius: 50%;
background: #5acdab;
}

#ball3
{
z-index: 5;
position: absolute;
left: 200px;
top: 400px;
width: 100px;
height: 100px;
border-radius: 50%;
background: #cd8c5a;
}

#ball4
{
z-index: 5;
position: absolute;
left: 300px;
top: 200px;
width: 100px;
height: 100px;
border-radius: 50%;
background: #d26772;
}

#ball5
{
z-index: 5;
position: absolute;
left: 300px;
top: 300px;
width: 100px;
height: 100px;
border-radius: 50%;
background: #bd9a9a;
}

#ball6
{
z-index: 5;
position: absolute;
left: 300px;
top: 400px;
width: 100px;
height: 100px;
border-radius: 50%;
background: #dedf9e;
}

#ball7
{
z-index: 5;
position: absolute;
left: 400px;
top: 200px;
width: 100px;
height: 100px;
border-radius: 50%;
background: #787575;
}

#ball8
{
z-index: 5;
position: absolute;
left: 400px;
top: 300px;
width: 100px;
height: 100px;
border-radius: 50%;
background: #ce83e2;
}

#ball9
{
z-index: 5;
position: absolute;
left: 400px;
top: 400px;
width: 100px;
height: 100px;
border-radius: 50%;
background: #90d678;
}